@import "tailwindcss";
@plugin "daisyui";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: poppins, sans-serif;

}

@media (min-width: 768px) {

  /* Apply scrollbar styles only for tablets and larger screens */
  html {
    overflow-y: scroll;
    /* Force scrollbar */
    margin-left: calc(99vw - 100%);
  }

}